extends layout

block content
    include header
    
    #warpdat(style="margin:100px;")
        h1= msg
        //CONTENT
        // Co-founders Cal & Pierre
        //BIO below
        //Mission STatement
        
    include footer