extends aboutlayout

block content
    include header
    
    #warpdat
        .aboutsegments
            h1.abouttitle= title
        //CONTENT
        .aboutsegments
            #missionstatement
                .aboutsegmentscont
                    //h1 Mission Statement
                    span#actualmissionstatement Ziggurat funding provides the unimaginable opportunity to access mass investors' funds necessary to fuel highly selective startups' with sustainable growth, promoting their unique successes, and secure mutual returns that guarantee successes.
            #foundersinfodiv
                .aboutsegmentscont
                    h1 Co-Founders
                    #boxthefounders
                        #pierrebox.founderinfobox(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    .founderimg
                                        img(src="images/iibanc resources/Pierre.png", width="100%")
                                    h3 Pierre 
                                    //h5 Bio
                                .back
                                    span.bio 
                                        | Steben & Company
                                        br
                                        |Pierre N. McDonnaugh, J.D., LL.M., is In-House Counsel & Chief Compliance Officer. In this capacity, he is involved in all aspects of legal affairs and regulatory oversight, as well as managerial oversight of compliance and periodic disclosure reporting.  Mr. McDonnaugh, born in 1964, received his Bachelors Degree in Workforce Education and Development from Southern Illinois University—Carbondale, and his Juris Doctor with a concentration in international economic law, finance & trade from Howard University in 1999.  Additionally, Mr. McDonnaugh received an LL.M. in Law and Government from American University’s Washington College of Law in Washington D.C., with a concentration in regulation of capital markets in May 2005.  From December 2003 through March 2005 Mr. McDonnaugh was a Futures Policy Analyst, in the National Association of Securities Dealers (“NASD”) Market Regulation Department, where he conducted research and development into new areas of regulatory oversight of derivatives exchanges (CCX, FERC, NQLX, etc.).  Mr. McDonnaugh, as the assistant to the Chief Counsel of Futures, developed systems to aid in derivatives market surveillance for the Chicago Climate Exchange and NQLX Single Security Futures Exchange. Prior to joining the NASD, Mr. McDonnaugh was a Regional Manager for ING Aetna Financial Services, Mid-Atlantic region from June 1999 until February 2002.  Mr. McDonnaugh had been responsible for the installment and implementation of the District of Columbia’s 457 Defined Contribution and 401(a) Defined Benefit Pension Plans.  Mr. McDonnaugh has over 15 years of industry experience offering investment-consulting services to institutional and retail clients. Mr. McDonnaugh is a member of the Connecticut Bar and holds a Series 3, 24 and 7 NASD/NFA licenses.  He is a member of the American Bar Association and the Association of the Bar of the City of New York.   Additionally Mr. McDonnaugh is a Principal and an Associated Person of Steben & Company, Inc.

                        #Legibox.founderinfobox
                            .flipper
                                .front
                                    .founderimg
                                        img(width="100%",src="images/iibanc resources/Callegi.png")
                                    h3 Calvester
                                    //h5 Bio
                                .back
                                    //h2(style="margin:0px;text-align:left;") Bio:
                                    span Dr. Calvester Legister has over twenty-five years of executive level hospitality practice experience leading branded and non-branded hotels’ as well as high-end restaurants’ finance, accounting, operations, and general workforce (employment) related matters. He provided leadership to the accounting, financial, technology, and human resources areas of each entity. Leadership includes managing critical path for opening, closing and rebranding hotels and restaurants in the Northeast Region of the United States (New York City). Additionally, he has provided major consultation services to one of the largest hotel and resort located on the United States Virgin Island. 
                                    span Simultaneously while leading daily hospitality finance and accounting, he has also functioned as an Associate, and an Adjunct Professors at various universities for over six years. He has authored many syllabi, and garnered many years of teaching experiences at both undergraduate and graduate levels. More recently, he also currently provides dissertations advise to doctoral candidates.
                        
                        #market.founderinfobox
                            .flipper
                                .front
                                    .founderimg
                                        img(width="100%",src="images/iibanc resources/Callegi.png")
                                    h3 Marketing Dir.
                                    //h5 Bio
                                .back
                                    //h2(style="margin:0px;text-align:left;") Bio:
                                    span Dr. Calvester Legister has over twenty-five years of executive level hospitality practice experience leading branded and non-branded hotels’ as well as high-end restaurants’ finance, accounting, operations, and general workforce (employment) related matters. He provided leadership to the accounting, financial, technology, and human resources areas of each entity. Leadership includes managing critical path for opening, closing and rebranding hotels and restaurants in the Northeast Region of the United States (New York City). Additionally, he has provided major consultation services to one of the largest hotel and resort located on the United States Virgin Island. 
                                    span Simultaneously while leading daily hospitality finance and accounting, he has also functioned as an Associate, and an Adjunct Professors at various universities for over six years. He has authored many syllabi, and garnered many years of teaching experiences at both undergraduate and graduate levels. More recently, he also currently provides dissertations advise to doctoral candidates.

    #popoutbio
        .biotextwrap
            span#legibio.insertbio
                span(style="font-weight:bold;") Dr. Calvester C. Legister
                br
                br
                span(style="font-weight:bold;") Experiences and Practice Areas
                br
                |Dr. Calvester Legister has over twenty-five years of executive level hospitality practice experience leading branded and non-branded hotels’ as well as high-end restaurants’ finance, accounting, operations, and general workforce (employment) related matters. He provided leadership to the accounting, financial, technology, and human resources areas of each entity. Leadership includes managing critical path for opening, closing and rebranding hotels and restaurants in the Northeast Region of the United States (New York City). Additionally, he has provided major consultation services to one of the largest hotel and resort located on the United States Virgin Island. 
                br
                br
                |Simultaneously while leading daily hospitality finance and accounting, he has also functioned as an Associate, and an Adjunct Professors at various universities for over six years. He has authored many syllabi, and garnered many years of teaching experiences at both undergraduate and graduate levels. More recently, he also currently provides dissertations advise to doctoral candidates. 

                |Dr. Legister conducts research studies specializing in the following fields; International macroeconomic, retirement migration, hospitality and tourism. Among the research studies he has completed are: 
                br
                |“The Economic Opportunities of Retirement Migration and Its Supply-side Determinants,” and working papers (For Academic Journals)
                br
                |“Supply-side factors influencing retirees flow to the CC region and the economic efficacy of government retirement packages.” – 2016
                br
                |“Impact of Citizenship Policy Reform on Labor Migration” – 2016
                br
                |“Rethinking the Values of Education and Knowledge in Entrepreneurship Founding.” submitted to academic Journal of Entrepreneurship – 2011.
                br
                |Over the years, Dr. Legister has also written articles for past issues of the NYC Hospitality Financial and Technology Professional (HFTP) Journal.
                br
                br
                span(style="font-weight:bold;") Corporate and other professional positions he has held are as follows: 
                br
                |* 2013 – present Chief Financial Officer, NoHo Hospitality, New York, NY. 
                br
                |* Corporate Secretary and Director of Finance, Yotel, New York, NY.
                br
                |* Director of Finance, The Cosmopolitan Club, New York, NY  
                br
                |* Chief Financial Officer and Director of Operations, Herald Hotel Associates, New York, NY
                br
                |* Director of Finance, Delmonico Hotel (now Trump Park Avenue), New York, NY
                br
                br
                span(style="font-weight:bold;") Academic positions he has held are as follows:
                br
                |* 2011 – present Adjunct Professor, CUNY- City Tech, and John Jay Criminal Justice
                br
                |* Associate Professor, University of Phoenix, Jersey City, NJ. 
                br
                |* Adjunct Professor, CUNY Graduate Center, New York, NY. 
                br
                |* Adjunct Professor, New York University, Tisch Graduate Center for Hospitality and Tourism.
                br
                br
                span(style="font-weight:bold;") Professional & Nonprofit Affiliations
                br
                |* 2014 – present National Association for Business Economics
                br
                |* Present National Association of Enrolled Agents
                br
                |* Present member of the Certified Fraud Association 
                br
                |* Past Global Director, and served on several committees for Global Hospitality Financial and Technology Professionals (owner, and soperator of HITEC- the world largest hospitality technology show).
                br
                |* Past President, Treasurer, and current Director for local New York City Hospitality Financial and Technology Professionals
                br
                |* Doctoral member of the Beta Gamma Sigma society.
                br
                br
                span(style="font-weight:bold;") He holds highly recognized designation in accounting, financial and taxation fields as follows:
                br
                |* Internal Revenue Service Enrolled Agent (EA) 
                br
                |* Certified Fraud Examiner
                br
                |* Certified Hospitality Accountant Executive (CHAE).
                br
                |Dr. Legister holds is a honor scholar graduate of New York University from where he earned a Bachelor in Economics, minor in accounting. He holds a MBA, Finance and Accounting,  doctorate in International Economics and Finance from Pace University – Lubin School where is research study is recognized as significant contribution to literature.


            span#Pierrebio.insertbio
                br
                span(style="font-weight:bold;") Steben & Company
                br
                br
                span(style="font-weight:bold;") Pierre N. McDonnaugh, J.D., LL.M.
                |,is the In-House Counsel & Chief Compliance Officer.  Mr. McDonnaugh, born in Bradford upon Avon, England in 1964, received his Bachelors Degree in Workforce Education and Development from the Southern Illinois University—Carbondale, and his Juris Doctorate with a concentration in International Economic Law, Finance & Trade from Howard University in 1999.  Additionally, Mr. McDonnaugh received an LL.M. in Law and Government from the American University in Washington D.C. with a concentration in government regulation of financial markets in May 2005.  From December 2003 through March 2006 Mr. McDonnaugh was a Futures Policy Analyst in the NASD’s Market Regulation Department, where he had been tasked with conducting research and development into new areas of regulatory oversight of derivatives exchanges (CCX, FERC, NQLX, etc.).  Mr. McDonnaugh, as the assistant to the Chief Counsel, developed systems to aid in conducting derivatives market surveillance for the Chicago Climate Exchange and NQLX Single Security Futures Exchange.
                br
                br
                | Prior to joining the NASD, Mr. McDonnaugh was a Regional Manager for ING Aetna Financial Services, Mid-Atlantic region from June 1999 until February 2002.  Mr. McDonnaugh had been responsible for the installment and implementation of the District of Columbia’s 457 Defined Contribution and 401(a) Defined Benefit Pension Plans.  Mr. McDonnaugh has over 15 years of industry experience offering investment-consulting services to institution and retail clients on products ranging from “Private Placements” to “forward” contracts in the currency markets.
                br
                br
                | Mr. McDonnaugh holds his Series 3, 24 and 7 NASD/NFA licenses and is a member of the American Bar Association, the Association of the Bar of the City of New York, and the Connecticut Bar Association.  Additionally Mr. McDonnaugh is a Principal and an Associated Person of Steben & Company, Inc.


    script(src = "/javascripts/about.js")    
    include footer
    //src="/images/iibanc resources/icons/ziggurat  watermark.svg