extends aboutlayout

block content
    include header
    
    #warpdat
        .aboutsegments
            h1.abouttitle= title
        //CONTENT
        .aboutsegments
            #missionstatement
                .aboutsegmentscont
                    h1 Mission Statement
                    span#actualmissionstatement Ziggurat funding provides the unimaginable opportunity to access mass investors' funds necessary to fuel highly selective startups' with sustainable growth, promoting their unique successes, and secure mutual returns that guarantee successes.
            #foundersinfodiv
                .aboutsegmentscont
                    h1 Founders
                    #boxthefounders
                        .founderinfobox
                            .founderimg
                                img(src="images/iibanc resources/logo alternates/iibanc.svg")
                            h3 Pierre 
                            h5 Bio
                        .founderinfobox
                            .founderimg
                                img(src="images/iibanc resources/logo alternates/iibanc.svg")
                            h3 Calvester
                            h5 Bio
        
    include footer