extends aboutlayout

block content
    include header
    
    #warpdat
        .aboutsegments
            h1.abouttitle= title
        //CONTENT
        .aboutsegments
            #missionstatement
                .aboutsegmentscont
                    //h1 Mission Statement
                    span#actualmissionstatement Ziggurat funding provides the unimaginable opportunity to access mass investors' funds necessary to fuel highly selective startups' with sustainable growth, promoting their unique successes, and secure mutual returns that guarantee successes.
            #foundersinfodiv
                .aboutsegmentscont
                    h1 Co-Founders
                    #boxthefounders
                        .founderinfobox(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    .founderimg
                                        img(src="images/iibanc resources/Pierre.png", width="100%")
                                    h3 Pierre 
                                    //h5 Bio
                                .back
                                    span.bio 
                                        | Steben & Company
                                        br
                                        |Pierre N. McDonnaugh, J.D., LL.M., is In-House Counsel & Chief Compliance Officer. In this capacity, he is involved in all aspects of legal affairs and regulatory oversight, as well as managerial oversight of compliance and periodic disclosure reporting.  Mr. McDonnaugh, born in 1964, received his Bachelors Degree in Workforce Education and Development from Southern Illinois University—Carbondale, and his Juris Doctor with a concentration in international economic law, finance & trade from Howard University in 1999.  Additionally, Mr. McDonnaugh received an LL.M. in Law and Government from American University’s Washington College of Law in Washington D.C., with a concentration in regulation of capital markets in May 2005.  From December 2003 through March 2005 Mr. McDonnaugh was a Futures Policy Analyst, in the National Association of Securities Dealers (“NASD”) Market Regulation Department, where he conducted research and development into new areas of regulatory oversight of derivatives exchanges (CCX, FERC, NQLX, etc.).  Mr. McDonnaugh, as the assistant to the Chief Counsel of Futures, developed systems to aid in derivatives market surveillance for the Chicago Climate Exchange and NQLX Single Security Futures Exchange. Prior to joining the NASD, Mr. McDonnaugh was a Regional Manager for ING Aetna Financial Services, Mid-Atlantic region from June 1999 until February 2002.  Mr. McDonnaugh had been responsible for the installment and implementation of the District of Columbia’s 457 Defined Contribution and 401(a) Defined Benefit Pension Plans.  Mr. McDonnaugh has over 15 years of industry experience offering investment-consulting services to institutional and retail clients. Mr. McDonnaugh is a member of the Connecticut Bar and holds a Series 3, 24 and 7 NASD/NFA licenses.  He is a member of the American Bar Association and the Association of the Bar of the City of New York.   Additionally Mr. McDonnaugh is a Principal and an Associated Person of Steben & Company, Inc.

                        .founderinfobox
                            .flipper
                                .front
                                    .founderimg
                                        img(width="100%",src="images/iibanc resources/Callegi.png")
                                    h3 Calvester
                                    //h5 Bio
                                .back
                                    h2(style="margin:0px;text-align:left;") Bio:
                                    span Dr. Calvester Legister has over twenty-five years of executive level hospitality practice experience leading branded and non-branded hotels’ as well as high-end restaurants’ finance, accounting, operations, and general workforce (employment) related matters. He provided leadership to the accounting, financial, technology, and human resources areas of each entity. Leadership includes managing critical path for opening, closing and rebranding hotels and restaurants in the Northeast Region of the United States (New York City). Additionally, he has provided major consultation services to one of the largest hotel and resort located on the United States Virgin Island. 
                                    span Simultaneously while leading daily hospitality finance and accounting, he has also functioned as an Associate, and an Adjunct Professors at various universities for over six years. He has authored many syllabi, and garnered many years of teaching experiences at both undergraduate and graduate levels. More recently, he also currently provides dissertations advise to doctoral candidates.

        
    include footer
    //src="/images/iibanc resources/icons/ziggurat  watermark.svg