doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1" )
    meta(charset="utf-8")    
    title= title
    link(rel='stylesheet', href='stylesheets/about.css')
    //link(href="/fonts/tahoma.ttf", rel="stylesheet")
  body
    block content
    //script(src = 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    //script(src = '/javascripts/global.js')
    //script(src = '/javascripts/viplayer.js')
    //script(src = '/javascripts/header-effs.js')