extends dashlayout

block content
    //h1= msg
    include header
    #invstnowwrap(style="display:none;")
        #invstnowwrapmodal_popout.modal_popout
        #close_investmodal.compny_create_close_popout
            .compny_create_xdiv
                h1 X
        .newcompany_form
            fieldset#investoform
                h2.compFormtitle Invest in
                    span#companynamespanele
                
                #rangeExtremes
                    p(style='display:inline-block;margin:0px;width:20%;height:15px;') $1
                    p(style='display:inline-block;margin:0px;float:right;width:45px;height:15px;') $
                        span#invsamountforthscmp
                input#compAmount(type='range', value=0,min= 1,max=50000, name='amount')
                textarea#compDescr(name='Message',rows='5',type='text',placeholder='Message to company')
                #invest_submit_bttn.submit_contnr
                    .create_comp_button
                        p(style="margin:0px;padding:0px;") INVEST
    #compcreate_wrap
        #compny_create_popout.modal_popout
        
        #compny_create_close_popout.compny_create_close_popout
            #compny_create_xdiv.compny_create_xdiv
                h1 X
        #newcompany_form.newcompany_form
            fieldset#new_form(action='admin/compcreate/')
                h2#compFormtitle.compFormtitle.notincluded New Company
                
                input#compName(type='text',name='compname',placeholder='Company Name')
                p.notincluded(style='margin:10px 0px 0px 5%;width:90%;height:15px;') Industry
                select#compIndustry(name='industry') Industry
                    option(value='')
                    option(value='Technology') Technology
                    option(value='Retail') Retail
                    option(value='Food') Restaurant
                    option(value='Hotel') Hotel
                    option(value='Service') Service
                    option(value='Financial') Financial
                #rangeExtremes.notincluded
                    p(style='display:inline-block;margin:0px;width:20%;height:15px;') $0
                    p(style='display:inline-block;margin:0px;float:right;width:45px;height:15px;') $500,000
                input#compAmount(type='range', value=0,min= 0,max=500000, name='amount')
                
                textarea#compDescr(name='description',type='text',placeholder='Description')
                
                
                #create_comp_button.submit_contnr.create_compbuffer.notincluded
                    #create_compclls.create_comp_button
                        p(style="margin:0px;padding:0px;") SUBMIT
                 
    
        
    #warpdaasst
        #dashboard_startups_boxcont
            #featured_startups_box
                .startup_boxes
                    //p Attract Funding
                .startup_boxes
                    //p Attract Funding
                .startup_boxes
                    //p Attract Funding
        .dashboardiconboxcont
            include writepost        
            #ziggsidebar
                a.admindatadock_one(href="/investors",rel="/investors",style="text-decoration: none !important;")
                    p Investors
                .admindatadock_one
                    p Startups
                .admindatadock_one
                    p Explore        
            #dshboardboxcont.dashboardboxcont
                #utilitybar_dashboard
                    #dwrraap
                        p Post your startup
            #dashboardboxcont.dashboardboxcont
            
                //.featured-investments-iconbox
                    #dwrraap(style='border: dashed 1px #222222;')
                        h1(style='font-size:100px;margin:0px;clear:both;float:none;') +
                    .dwrraapfeatured-investments-iconinfo
                        h2 POST NEW COMPANY
         

    script(src = '/javascripts/dashboard.js')
    include footer