extends footerlayout

block content

    #footer
        .poweredbylegi
        .poweredbylegi
        .poweredbylegi
            - var href = "http://www.instagram.com/legidesigns";
            a(rel=href target="_blank")
                p(style='color:#999;float:left;margin:0px;padding:0px;top:0px;height:15px;font-size:12px;text-align: center;') powered by:   
                img#legilogobottom(height='15px', src='images/site resources/Legidesigns.png')
            span#cdSiteSeal1
            
    script(type="text/javascript", src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73950bd08a69648f04fdxpy7mb7355e4ye7a83e6f1249e7234f69")