extends headerlayout

block content
    
            
    if msg == 'dooropen'
        -srcc = 'images/iibanc resources/logo alternates/iibanc2.svg'
    else
        -srcc = 'images/iibanc resources/logo alternates/iibanc.svg'
        

    #headrwrapper
        #header
            a(href="/",rel="/about", id="logoheader")
                img#legilogo(height='100%', src=srcc)
            .formfillautocheck
                    fieldset
                        input(type="text", placeholder="Email address") 
            #menuheader
                .buttoncontt
                    include login
                #menusymbol
                    .bar1.barrr
                    .bar2.barrr
                    .bar3.barrr
            #menupopout
                #menucont
                .menue-item
                    #closemenu.close-item
                        h1(style="font-size:20px;cursor:pointer;") x
                
                a#AboutUS.menue-item(rel="/about", href="/about")
                    h1 About us
                a#investorlink.menue-item(rel="/investors", href='#')
                    h1 Top Investors
                .menue-item
                    h1 Find a Startup

    if mypageurl == '/'
        include index
        
    script(src = '/javascripts/header-effs.js')
    script(src = '/javascripts/global.js')
    noscript(style="z-index:1000;")
        .noscriptmsg(style="font-weight:bold;font-size:20px;color:#FFFFFF;background-color:red;text-align:center;position:fixed;width:100%;")
            h4 You don't have javascript enabled.  Good luck with that!