doctype html
html
    head
        title= header
        if msg == 'dooropen'
            link(rel='stylesheet', href='stylesheets/header2.css')
            link(rel='stylesheet', media="(max-width: 300px)",href="stylesheets/header2max.css")
        else
            link(rel='stylesheet', href='stylesheets/header.css')
            link(rel='stylesheet', media="(max-width: 300px)",href="stylesheets/headermax.css")
        link(rel='stylesheet', href='stylesheets/style.css')
        
        //meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        block content        
        //script(src = '/javascripts/header-effs.js')
        //script(src = '/javascripts/global.js')
