doctype html
html
    head
        title= header
        if msg == 'dooropen'
            link(rel='stylesheet', href='stylesheets/header2.css')
        else
            link(rel='stylesheet', href='stylesheets/header.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        //meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        block content
        //script(src = 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src = '/javascripts/header-effs.js')
        script(src = '/javascripts/global.js')
