
block content
    
    //include header
        //#menupopout    
    #wrapper(style="background-color:rgba(98, 174, 201,.7)")
        //h1= title
        //p Welcome to #{title}
        //h2 User List
        //h1= msg
        if msg === 'doorclosed' 
        else
            #userlist
                #username
                    .nostyle
                        h4 username
                #email
                    .nostyle
                        h4 email
                #delete
                    .nostyle
                        h4 delete?
        #gotoforum.divsegments
            span.movingtext Watch live V.E.T.S: The HR Office! 
        
        #introbox.divsegments
            .boxcont
                h1(style='font-size:35px;color:#ffffff;opacity:1.0;width:100%;margin:0px;text-align:left;') The Smarter, faster way to invest or get your business up & running.
                p(style='font-size:18px;color:#ffffff;opacity:1.0;width:100%;margin:0px;text-align:left;') Connect with investors,talent and other start-ups at the click of a button.
                //.buttoncont
                    include login
        //h1=isloggedin()
            
        .divsegments
            .iconboxcont
                #iconboxxx.iconbox
                    img(src="images/iibanc resources/icons/FCC-registered.svg")
                    .iconinfo
                        h4 FULLY REGULATED
                        p We are registered and regulated by the FCC. We are also managed and owned by financial and hospitality industry experts.
                .iconbox
                    img(src="images/iibanc resources/icons/connect.svg")
                    .iconinfo
                        h4 CONNECT
                        p  Connect with other startups, talents and professionals in the hospitality industry.

                .iconbox
                    img(src="images/iibanc resources/icons/get-investment-to-foster-growth.svg")
                    .iconinfo
                        h4 ATTRACT INVESTORS
                        p Allocate funds via trusted, tried and proven investors to fuel your projects’ phenomenal growth.
                .iconbox
                    img( src="images/iibanc resources/icons/invest-in-potentially-lucrative.svg")
                    .iconinfo
                        h4 INVEST IN THE FUTURE
                        p Investors, and industry leaders interested in shaping the future can select from myriad hospitality (and related) projects to yield unmatched returns.
        
        //#aboutpltfrm.divsegments
            .iconboxcont
                #abtpltfm
                    h1(style="font-weight:bold;") SECURE THE BEST TALENT
                    p We utilize real-time (live) expert screening to secure the best talent to help speed up your project growth.
        
        #besttalents.divsegments
            .iconboxcont
                #abtpltfm
                    h1(style="font-weight:bold;")  ABOUT THE PLATFORM
                    p The platform connects Investors seeking lucrative innovative investment oppportunities with progressive startups/individuals seeking financial backing to propel their business into profitability and consistent and exponential growth. 

        //#wrapit
          #plyr-wrap
            #ctrlcnt
              #vidbox
                video#coolvid.coolvid(loop='', preload='auto')
                  object(width='640', height='360', type='application/x-shockwave-flash', data='__FLASH__.SWF')
                    // Firefox uses the `data` attribute above, IE/Safari uses the param below
                    param(name='movie', value='__FLASH__.SWF')
                    param(name='flashvars', value='controlbar=over&image=__POSTER__.JPG&file=__VIDEO__.MP4')
                    // fallback image. note the title field below, put the title of the video there
                    img(src='__VIDEO__.JPG', width='640', height='360', alt='__TITLE__', title='No video playback capabilities, please download the video below')
              #vidCtrl
                #playbttn(title='Play')
                  img#playpause(width='18px', height='18px', style='margin-top:1px;clear:both;opacity:1;', src='images/playbutton.png')
                #progwrpp
                  #progress
                    p#prgress(style='position:relative; left:0; top:0; background-color:#ccc; height:100%; width:0%; font-size:0px;border-right:2px solid #F00;')  
                #optnwrp(style='float:right; display:inline-block;position:relative;margin:0px;padding:0px;')
                  #currtme(style='text-align: center;')
                    p#cchldtme(style='font-size:8px;font-family:sans-serif;')
                  #volbttn
                    img#volimg(title='click to mute', width='17px', height='17px', style='clear:both;opacity:1;cursor: pointer;', src='images/volbttn.png')
                    #volwrp
                      #voladj
                        p#volprg  
                  #fullscrn
                    img#fullscreen(title='Enter fullscreen', width='17px', height='17px', style='cursor:pointer;', src='images/fullscreen.png')

    include footer