extends landingpagelayout
block content
    include header
    
    #bodywrap(style="width:auto;height:100%;box-sizing:border-box;padding:20px;align:center;margin:20px auto;")
        span(style="font-size:10vw;color:#F2F2F2;font-family:Arial;font-weight:bold;margin:20% 10%;clear:both;") COMING SOON
        