extends loginlayout

block content
    //=localmsg = msg
    if msg === 'doorclosed'
        #usrsignuploginiconbutton(tabindex="-1")
            #usrsignuploginiconbuttoncont
                img( src="images/iibanc resources/icons/usricon.svg")
        #usrlogincontainerbox(tabindex="-1")
            #signupbutton.loginout(tabindex="-1",class=msg,title='Click to create new account.')
                #signupbuttoncont
                    p Sign Up         
                    
            #logintoplatfrmpbutton.loginout(class=msg,title='Click to login.')
                #logintoplatfrmpbuttoncont
                    p Log in

        //-if (loginnow == true){
            #loginwrapppp.wrappppactive
        //-}else{
            #loginwrapppp.wrappppinactive
        //-}
        
        #loginwrapppp(class=(loginnow?'wrappppactive':'wrappppinactive'))
            #loginpopout
            #close_modal_login
                #xdiv
                    h1 X
            #login_to_memberprofle
                fieldset#formm(style='border:none;')
                    h2#formtitle(style = 'clear:both;margin:10px auto;') SIGN IN
                    input#loginmembremail(name='email',type='text',placeholder='Email',style='margin:10px 0px;width:90%;height:30px;')
                    input#loginmembrpassword(name='password',type='password',placeholder='password',style='margin:10px 0px;width:90%;height:30px;color:#cccccc;')
                    #signinmemberbutton(style='display:block;',rel='users/login/')
                        .signinmemberbutton
                            p(style="margin:0px;padding:0px;") SUBMIT 

        #wrapppp.wrappppinactive
            #loginpopout
            #close-modal-sign-up
                #xdiv
                    h1 X
            #newmember
                fieldset#formm(style='border:none;')
                    h2#formtitle(style = 'clear:both;margin:10px auto;') SIGN UP
                    input#inputFirstname(type='text',placeholder='Fist Name',style='margin:10px 0px;width:90%;height:30px;')
                    input#inputLastname(name='Lastname', type='text',placeholder='Last Name',style='margin:10px 0px;width:90%;height:30px;')
                    input#inputemail(name='email',type='text',placeholder='Email',style='margin:10px 0px;width:90%;height:30px;')
                    input#inputpassword(name='password',type='password',placeholder='password',style='margin:10px 0px;width:90%;height:30px;color:#cccccc;')
                    #addmemberbutton.admbmbufferclass
                        #addmbackid.addmemberbutton
                            p(style="margin:0px;padding:0px;") Signup
                            
    else
        #usrsignuploginiconbutton(tabindex="-1")
            #usrsignuploginiconbuttoncont
                img( src="images/iibanc resources/icons/usricon.svg")
        #usrlogincontainerbox(tabindex="-1")
            #logoutbutton(class=msg,title='Click to log out.')
                #logoutbuttoncont
                    p Log out
    
        
    //else
        
            //#newmember
                fieldset(style='border:none;')
                    h2(style = 'clear:both;margin:10px auto;') Sign UP
                    input#inputusrname(type='text',placeholder='Username',style='margin:10px auto;width:90%;height:30px;')
                    input#inputemail(type='text',placeholder='Email',style='margin:10px 0px;width:90%;height:30px;')
                    input#inputage(type='text',placeholder='Age',style='margin:10px auto;width:30%;height:30px;')
                    input#inputgender(type='text',placeholder='Gender',style='margin:10px 0px;width:30%;height:30px;')
                    input#inputlocation(type='text',placeholder='Location',style='margin:10px 0px;width:30%;height:30px;')
                    #addmemberbutton.addmemberbutton 
                        div(style="clear:both;padding: 10px;margin:0px auto;height:25px;width:auto;color:#fff;width:100px;")