doctype html
html
    head
        title= title
        if msg == 'dooropen'
            link(rel='stylesheet', href='stylesheets/login2.css')
            link(rel='stylesheet', media="(max-width: 450px)",href="stylesheets/login2max.css")
        else
            link(rel='stylesheet', href='stylesheets/login.css')
            link(rel='stylesheet', media="(max-width: 450px)",href="stylesheets/loginmax.css")
  
    body
        block content
        //script(src = 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        //script(src = '/javascripts/login-effs.js')
