extends vettlayout
block content

    include header
    #wrapit
      #plyr-wrap
        #ctrlcnt
          #vidbox
            video#coolvid.coolvid(loop='', preload='auto')
              object(width='640', height='360', type='application/x-shockwave-flash', data='__FLASH__.SWF')
                // Firefox uses the `data` attribute above, IE/Safari uses the param below
                param(name='movie', value='__FLASH__.SWF')
                param(name='flashvars', value='controlbar=over&image=__POSTER__.JPG&file=__VIDEO__.MP4')
                // fallback image. note the title field below, put the title of the video there
                img(src='__VIDEO__.JPG', width='640', height='360', alt='__TITLE__', title='No video playback capabilities, please download the video below')
          #vidCtrl
            #playbttn(title='Play')
              img#playpause(width='18px', height='18px', style='margin-top:1px;clear:both;opacity:1;', src='images/playbutton.png')
            #progwrpp
              #progress
                p#prgress(style='position:relative; left:0; top:0; background-color:#ccc; height:100%; width:0%; font-size:0px;border-right:2px solid #F00;')  
            #optnwrp(style='float:right; display:inline-block;position:relative;margin:0px;padding:0px;')
              #currtme(style='text-align: center;')
                p#cchldtme(style='font-size:8px;font-family:sans-serif;')
              #volbttn
                img#volimg(title='click to mute', width='17px', height='17px', style='clear:both;opacity:1;cursor: pointer;', src='images/volbttn.png')
                #volwrp
                  #voladj
                    p#volprg  
              #fullscrn
                img#fullscreen(title='Enter fullscreen', width='17px', height='17px', style='cursor:pointer;', src='images/fullscreen.png')
                    
    include footer
    script(src = '/javascripts/viplayer.js')