@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahoma.ttf');
}

@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahomabd.ttf');
    font-weight:bold;
}

body {
   
}

a {
  color:inherit;
  text-decoration: none;
}
#warpdat{
    margin:70px 0px 0px 0px ;box-sizing: border-box;min-height: 80vh;text-align: left; 
}
.founderinfobox{
    margin: 1%; width: 46%;box-sizing: border-box;display: inline-block;clear: both;float: none;border-radius: 5px;background-color: antiquewhite;
}

.abouttitle{
    text-align: center;color: #333333;
}

.aboutsegments{
    width:100%;color: #FFF;/*background-color:#F2F2F2;*/height:auto;padding:10px 0px;text-align:center;display:inline-block;
}

.aboutsegmentscont{
    max-width: 1000px;margin: 0px auto;clear: both;float: none;
}

#missionstatement{
    background-color:rgba(98, 174, 201,.7);
}

#foundersinfodiv{
    background-color:rgba(52,14,48,.95);height: auto;padding: 10px 0px;
}

.aboutsegmentscont h2 {
    font-size: 3vw;
}

#missionstatement{
    height: auto;padding: 15px 5px;box-sizing: border-box;
}