@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahoma.ttf');
}

@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahomabd.ttf');
    font-weight:bold;
}

body {
    background: url(../images/background/IMG_0209.JPG) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
}

a {
  color:inherit;
  text-decoration: none;
}
#warpdat{
    margin:0px 0px 0px 0px ;box-sizing: border-box;min-height: 90vh;text-align: left; 
}

#boxthefounders{
    margin: 0px;padding: 0px;width:auto;height: auto;
}

#actualmissionstatement{
    font-size: 16px;
}

.abouttitle{
    text-align: center;color:  #FFFFFF;font-weight: 900;font-size: 40px;
}

.aboutsegments{
    width:100%;color: #FFF;/*background-color:#F2F2F2;*/height:auto;padding:10px 0px;text-align:center;display:inline-block;word-wrap: break-word;
}

.aboutsegmentscont{
    max-width: 800px;margin: 0px auto;clear: both;float: none;
}

#missionstatement{
    background-color:rgba(98, 174, 201,.4);
}

#foundersinfodiv{
    background-color:rgba(52,14,48,.0);height: auto;padding: 10px 0px;
}

.aboutsegmentscont h1 {
    font-size: 30px;
}

#missionstatement{
    height: auto;padding: 15px 5px;box-sizing: border-box;
}

.founderinfobox{
    margin: 0px 1%; width: 46%;box-sizing: border-box;display: inline-block;clear: both;float: none;border-radius: 5px;background-color: rgba(98, 174, 201,.5);height:auto;
    perspective: 1000px;
    
    /*-webkit-transform-origin: 50% 50%;
*/}

.founderinfobox:hover .flipper, .founderinfobox.hover .flipper {
		transform: rotateY(180deg);
}

.flipper{
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    height: auto;clear: both;position: relative;
}

.front, .back{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0px;
}


.front{
    transform: rotateY(0deg);
    -webkit-transform: rotateY( 0deg );
    -moz-transform: rotateY( 0deg );
    -o-transform: rotateY( 0deg );
    z-index: 2;width: auto;
}

.front .founderimg img{
    border-top-right-radius: 5px;border-top-left-radius: 5px;
}

.back{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    top: 0px;position: absolute;
    height: calc(100% - 20px);
    overflow-y: hidden;
    padding: 10px; 
}

.founderinfobox.flipped{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

#popoutbio{
    width:100%;position:absolute;min-height:100%;top:0px;left: 0px;background-color: #F2F2F2;box-sizing: border-box;z-index:100;height: auto;display:none;
}

.biotextwrap{
    box-sizing: border-box; padding: 15px; background-color: none/*aquamarine*/;height: 100%;width: 100%;max-width: 900px;margin:0px auto;
}

.insertbio{
    word-wrap: break-word;
}
#legibio{
    display:none;
}
#Pierrebio{
    display:none;
}