body{
    margin: 0px;padding: 0px;
}

a {
  color:inherit;
  text-decoration: none;
 }

input, select {
    z-index: 101; margin:10px 5%;width:90%;height:30px;
}

textarea {
    margin:10px 5%;width:90%;min-height: 75px;color:#cccccc;
}

#warpdaasst{
    margin:80px auto 0px auto;display:block;clear:both;min-width: 140px; width: 100%;padding: 5px;box-sizing: border-box;
}

#utilitybar_dashboard{
    width: 100%;margin:0px 0px 10px 0px; display: inline-block;height: :50px;background-color: #340E30;border-radius: 25px;
}
#utilitybar_dashboard p {
    color: #F2F2F2;font-weight: 900;
}

#utilitybar_dashboard:hover,#utilitybar_dashboard:active{
    width: 100%;margin:0px 0px 10px 0px; display: inline-block;height: :50px;background-color: #F2F2F2;color: #111111;border-radius: 25px;
}

#utilitybar_dashboard:hover p,#utilitybar_dashboard:active p{
    color: #340E30;
}

#dwrraap{
    padding: 0px;align-items: center; width: 100%;height: 100%;margin:0px;padding:0px;box-sizing: border-box;overflow: hidden;text-align: center;cursor: pointer;/*border: dashed 1px #340E30;*/
}


.dashboardiconboxcont{
    display: block;clear: both;float: none; margin:5px auto;width: 100%;max-width: 1000px;min-width: 140px; align-items: center;align-content: center;height: auto;
}



@media all and (min-width: 550px) {
    #ziggsidebar{
        box-shadow: 0px 1px 2px #999999;border-radius: 4px; border:1px solid #F2F2F2;height: 100%;width:29%;max-width: 300px; background-color: #FFFFFF/*#340E30 rgba(52,14,48,.95)*/;float: left; clear: both;margin: 0px 1% 0px 0px; top: 0px;color: #FFFFFF;box-sizing: border-box;
    }
    #dshboardboxcont{
        opacity:1;float: none;clear: both; height: auto; width: 70%; margin:0px 0px 0px 0px;cursor:pointer; display: inline-block;max-width: 700px;
    }    
}

@media all and (max-width: 550px) and (min-width: 0px) {
    #ziggsidebar{
        display: none;
    }
    
    #dshboardboxcont{
        opacity:1;float: none;clear: both; height: auto; width: 100%; margin:0px 0px 0px 0px;cursor:pointer; display: inline-block;max-width: 700px;
    } 
}








#ziggsidebar p{
    font-weight: 900;color: #340E30;
}

.admindatadock_one{
    height: 50px;width:calc(100%-20px);display:block;float: none; clear: both;margin: 0px;padding: 10px;box-sizing: content-box;
}



#dashboardboxcont{
    opacity:1;float: none;clear: both; height: auto; width: 100%; margin:0px 0px 0px 0px;cursor:pointer; display: inline-block;max-width: 700px;
}

#dashboard_startups_boxcont{
    display: block;clear: both;float: none; margin:5px auto;width: 100%;max-width: 1000px;  align-items: center;align-content: center;height: auto;box-sizing: border-box;border: 1px solid #F2F2F2;padding: 5px;
}

#featured_startups_box{
    opacity:1;clear:both; display:inline-block; float: none; height: 250px; width:100%; max-width:1000px; margin: 0px 0px 0px 0px;cursor:pointer;background-color: #FFFFFF;padding: 0px;box-sizing: border-box;overflow: hidden;
}

.pluss:hover {
    background-color:#F2F2F2;
}

.startup_boxes{
    height:100%;width: 32%;margin: 0px .66%;display: inline-block;box-sizing: border-box;border: 1px solid #F2F2F2;clear: both;
}

.featured-investments-iconbox{
    opacity:1;clear:both; display:block; float: none; height: 250px;width: 100%;max-width:1000px; margin: 0px 0px 10px 0px;cursor:pointer;background-color: #FFFFFF;padding: 5px;box-sizing: border-box;border: 1px solid #F2F2F2;border-radius: 2px;box-shadow: 0px 1px 2px #999999;overflow : hidden;
}

.featured-investments-logo{
    padding: 0px;align-items: center; width: 90%;height: 60%;margin: 0px 5%;box-sizing: border-box;overflow: hidden;text-align: center;
}


.featured-investments-logo-bufferbox{
    padding: 0px;align-items: center; width: auto;height:100%;margin: 0px auto;max-width: 100%;clear: both;float: none;display: block;
}

.featured-investments-logo img{
    align-self: center; clear: both; margin: 0px auto;float: none;max-height: 100%;position:relative;display: block;
}

.featured-investments-iconinfo{
    opacity:1;float: none;height: 40%;width:90%;margin: 0px 5%;/*background-color: #F2F2F2;*/font-size:14px;word-wrap: break-word;
}

.dwrraapfeatured-investments-iconinfo{
    text-align: center; opacity:1;float: none;height: 40%;overflow: hidden; width:90%;margin: 0px 5%;/*background-color: #F2F2F2;*/font-size:14px;word-wrap: break-word;
}

.iconinfo h1{
    margin: 0px;padding: 0px;clear: both;display: block;height: 15px;width: calc(100%-20px);
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#compcreate_wrap{
    margin: 0px;padding: 0px;width: auto;height: auto;display:none;
}

.modal_popout{
    top:0;left: 0; position: fixed;width: 100%;height: 100%;z-index: 99;background-color: #62AEC9;overflow:hidden;display: inline-block;background-color:rgba(205,205,205,.975);
}

.compny_create_close_popout{
    align-content: center;text-align: center;height: 50px;width: 50px; position: fixed;top: 5%;right: 5%;color: #FFFFFF;background-color: #222222;z-index: 102;cursor: pointer;
}

.compny_create_close_popout:hover{
    background-color: Red;z-index: 102;cursor: pointer;
}

.compny_create_xdiv{
    width:30px;;height: 30px;margin: 10px;
}

.compny_create_xdiv h1{
    width:30px;;height: 30px;margin: 0px;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

/*
#dhjghjgdhj:focus #invstnowwrap{
    display: block;
}
*/

.newcompany_form{
    left:10%;top:10%;right:10%;bottom:10%; background-color:#F2F2F2;border-bottom: 3px solid #414042; display: block;position:fixed; clear: both;padding: 10px 0px;height: auto;margin:auto;min-width: 140px;max-width: 750px;min-height: 200px;max-height: 500px; border-radius: 5px;color: #222222; z-index: 100;
}



#new_form{
    border:none;
}

/*fieldset for investing style*/
#investoform{
    border:none;
}

.compFormtitle{
    clear:both;width:90%;margin:0px 5%;
}

#compName{
    
}

#rangeExtremes{
    margin:10px 0px 0px 5%;width:90%;height:15px;
}

/***********************SUBMIT BUTTON STYLING*********************/

.submit_contnr{
    margin: 5px 5%;cursor: pointer;
}

.create_comp_button{
    clear:both;padding: 10px;margin:0px auto;height:45px;width:auto;color:#fff;width:100px;background-color: #340E30; border-radius: 3px;font-size: 20px;font-weight: bold; text-align: center;border: none;box-sizing: border-box;
}





.pluss{
    background-color:#FFFFFF;font-weight:bold;position:absolute;margin-top:0px;font-size:25px;border:1px solid #F2F2F2;height:40px;width:40px;border-radius:20px;text-align:center;z-index: 2;
}

