@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahoma.ttf');
}

@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahomabd.ttf');
    font-weight:bold;
}

@-ms-viewport{width:auto!important}

body {
    margin: 0px;padding: 0px; clear: both;width: 100%!important;height: 100%;font-size:12px;font-family:tahoma; color: #414042;box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration: none;
 }

fieldset{
    border: none;
}

#headrwrapper{
    width:100%!important;height:73px;min-width: 140px;
}

#header{
    height: 73px; width:  100%!important;position: fixed; z-index: 10; top:0px; display: block;padding: 10px 0px;background-color:#F2F2F2;background-color:rgba(244,244,244,.99);border-bottom: 3px solid #62AEC9/*#BE1E2D*/;box-shadow: 0px 2px 6px #111111;min-width: 140px;box-sizing: border-box;
}

/*
.formfillautocheck{
        display:inline-block;height:50px;width:150px;clear:both;margin: 0px;padding: 0px;box-sizing: border-box;margin: 0px;top: 0px;
}*/



@media all and (min-width: 520px) {
    .formfillautocheck{
        display:inline-block;height:50px;width:110px;clear:both;padding: 0px;box-sizing: border-box;position: absolute; top: 10px;right:110px;
    }
    
    .formfillautocheck fieldset{
        height:50px;width:100%;border: none;box-sizing:border-box;padding: 7.5px 0px;margin: 0px;display: inline-block;clear: both;
    }
    
    .formfillautocheck fieldset input{
        height:35px;margin: 0px;border-radius:5px;border:none;color:#999999;width:100%;box-sizing: border-box;
    }    
    #logoheader{
        top:0px;opacity:1;height: 50px;min-height: 50px;width: auto;max-width: 175px; margin: 0px 0px 0px 10px;text-decoration: none;cursor: pointer;
    }

    #menusymbol{
        cursor: pointer;align-items: center;max-width:35px;width: 45px;padding: 7.5px;clear: both;max-width: 45px;display: inline-block;
    }

    .buttoncontt{
        cursor: pointer;width:50px; height:50px;background-color:none; text-align: center;align-items: center;align-content: center;margin: 0px;clear: both;display: inline-block;
    }
    #menuheader{
        height: 50px;max-height: 50px;width: auto;margin: 0px;padding: none;display: inline-block;position: absolute;top: 10px;right: 0px;
    }  
}

@media all and (min-width: 300px) and (max-width: 520px) {
    .formfillautocheck{
        display: none !important;
    }
    
    #logoheader{
        top:0px;opacity:1;height: 50px;width: auto;max-width: auto; margin: 0px 0px 0px 10px;text-decoration: none;cursor: pointer;overflow: hidden;position:relative;
    }

    #menusymbol{
        cursor: pointer;align-items: center;max-width:35px;width: 45px;padding: 7.5px;clear: both;max-width: 45px;display: inline-block;
    }

    .buttoncontt{
        cursor: pointer;width:50px; height:50px;background-color:none; text-align: center;align-items: center;align-content: center;margin: 0px;clear: both;display: inline-block;
    }
    #menuheader{
        height: 50px;max-height: 50px;width: auto;margin: 0px;padding: none;display: inline-block;position: absolute;top: 10px;right: 0px;
    }
}

@media all and (max-width: 300px) and (min-width: 170px) {
    .formfillautocheck{
        display: none!important;
    }
    
    #logoheader{
        top:0px;opacity:1;height: 50px;width: 50px;max-width: 50px;margin: 10px 0px 0px 10px;text-decoration: none;cursor: pointer;overflow: hidden;position:absolute;
    }
    #menusymbol{
        cursor: pointer;align-items: center;max-width:35px;width: 45px;padding: 7.5px 5px 7.5px 5px;clear: both;max-width: 45px;display: inline-block;
    }

    .buttoncontt{
        cursor: pointer;width: 50px; height:50px;background-color:none; text-align: center;align-items: center;align-content: center;margin: 0px;display: inline-block;
    }
    
    #menuheader{
        height: 50px;max-height: 50px;width: auto;margin: 0px;padding: none;display: inline-block;position: absolute;top: 10px;right: 2px;
    }
}

@media all and (max-width: 170px) and (min-width: 0px) {
    .formfillautocheck{
        display: none!important ;
    }
    
    #logoheader{
        top:0px;opacity:1;height: 50px;width: 50px;max-width: 50px;margin: 10px 0px 0px 1px;text-decoration: none;cursor: pointer;overflow: hidden;position:absolute;
    }
    #menusymbol{
        cursor: pointer;align-items: center;max-width:35px;width: 35px;padding: 7.5px 1px 7.5px 1px;clear: both;display: inline-block;
    }

    .buttoncontt{
        cursor: pointer;width: 40px; height:50px;background-color:none; text-align: center;align-items: center;align-content: center;margin: 0px;display:inline-block;
    }
    
    #menuheader{
        height: 50px;max-height: 50px;width: auto;min-width: 75px;margin: 0px;padding: none;display: inline-block;position: absolute;top: 10px;right: 1px;
    }
}

#legilogo{
    top:0px;opacity:1;clear:both;
}

.bar1,.bar2,.bar3{
    width: 100%;height: 5px; background-color: #114684;margin: 5px auto; transition: 0.4s;clear: both;max-width: 45px;max-height: 5px;border-radius: 3px;
}

#menusymbol:hover .barrr, #menusymbol:active .barrr  {
    background-color: #62AEC9;border-radius: 0px;-ms-transform: rotate(360deg); /* IE 9 */-webkit-transform: rotate(360deg); /* Safari */transform: rotate(360deg);
}

#menupopout{
    top:0;left: 0; position: fixed;width: 100%;height: 100%;z-index: 99;background-color: #340E30;overflow:hidden;display: none;background-color:rgba(98,174,201,.95);
}

#menucont{
    width:80%;margin:20px auto;height:auto;width:auto;display:inline-block
}

.menue-item{
    color: aliceblue; display:block; margin: 10px auto; padding: 5px 0px;height: 50px;width: 80%;text-align: center;cursor: pointer;text-decoration:none;
}

.close-item{
    padding: 5px 0px;cursor: pointer;text-decoration:none; color: #62AEC9; display:inline-block; padding: 0px;height: 50px;width: 50px;text-align: center;border-radius: 5px;background-color: aliceblue;margin: 0px;float: right;right: 20px;top: 20px;
}

.close-item:hover{
    background-color: red;
}
