body{
    margin: 0px;padding: 0px;
}

a {
  color:inherit;
  text-decoration: none;
}

#wrapppp{
}
.wrappppinactive{
    margin: 0px;padding: 0px;width: auto;height: auto;display: none;
}

.wrappppactive{
    margin: 0px;padding: 0px;width: auto;height: auto;display: block;
}

*:focus {
    outline: none;
}
@media all and (min-width: 300px) {
    #usrlogincontainerbox{
        cursor: pointer;max-width: (100vw-64px);top:68px;right: 60px; height:auto; border-radius: 4px; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: absolute;display: none;background-color: rgba(244,244,244,.99);/*border: solid 1px #CCCCCC;background-color:rgba(244,244,244,.99);box-shadow: 3px 3px 10px #555555;/* display: none;*/
    }
    
    #signupbutton{
        cursor: pointer; height:100%;background-color:none; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border-bottom: solid 1px #CCCCCC;margin: 0px 0px 0px 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;*/border-top-right-radius: 4px;border-top-left-radius: 4px;
    }
    #logintoplatfrmpbutton{
        cursor: pointer;top:70px;right: 60px; height:100%;background-color:none; border-bottom-right-radius: 4px;border-bottom-left-radius: 4px; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border:none;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;*/
    }    
}

@media all and (max-width: 300px) and (min-width: 170px) {
    #usrlogincontainerbox{
        cursor: pointer;width: 96%;top:68px;right: 2%;left: 2%; height:auto; border-radius: 4px; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: absolute;display: none;background-color: rgba(244,244,244,.99); /*border: solid 1px #CCCCCC;background-color:rgba(244,244,244,.99);box-shadow: 3px 3px 10px #555555;/* display: none;*/
    }
    
    #signupbutton{
        cursor: pointer; height:100%;background-color:none; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border-bottom: solid 1px #CCCCCC;margin: 0px 0px 0px 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;*/border-top-right-radius: 4px;border-top-left-radius: 4px;
    }
    #logintoplatfrmpbutton{
        cursor: pointer;top:70px;right: 60px; height:100%;background-color:none; border-bottom-right-radius: 4px;border-bottom-left-radius: 4px; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border:none;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;*/
    }

    
}

@media all and (max-width: 170px) and (min-width: 0px) {
    #usrlogincontainerbox{
        cursor: pointer;width: 100%;top:68px;right: 0px;left: 0px; height:auto; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: absolute;display: none;background-color: rgba(244,244,244,.99); /*border: solid 1px #CCCCCC;background-color:rgba(244,244,244,.99);box-shadow: 3px 3px 10px #555555;/* display: none;*/
    }
    #signupbutton{
        cursor: pointer; height:100%;background-color:none; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border-bottom: solid 1px #CCCCCC;margin: 0px 0px 0px 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;border-top-right-radius: 4px;border-top-left-radius: 4px;*/
    }
    #logintoplatfrmpbutton{
        cursor: pointer;top:70px;right: 60px; height:100%;background-color:none; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border:none;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;color: #555555;/* display: none;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;*/
    }
    
}

#usrsignuploginiconbutton{
    cursor: pointer;width: auto; height:100%;background-color:none;font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;/* border-radius: 4px;border: solid 1px #62AEC9;*/margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;outline: none;
}

#usrsignuploginiconbuttoncont{
    clear:both;padding: 2px;margin:0px auto;height:100%;width:auto;color:#fff; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}

#usrsignuploginiconbuttoncont img{
    clear:both;padding: 0px;height:100%;margin:0px auto;width:auto;color:#fff;
}

/*Touch/click event*/

#usrsignuploginiconbutton:focus ~ #usrlogincontainerbox{
    display: block;
}

#usrlogincontainerbox:hover{
    display: block;
}
#signupbuttoncont{
    clear:both;padding: 11.5px;margin:0px auto;height:25px;width:auto;width:100px;
}

#signupbutton:hover {
    background-color:#CCCCCC;color:#FFFFFF;
}

#signupbuttoncont p{
    margin:0px;padding:0px;
}

#logintoplatfrmpbuttoncont{
    clear:both;padding: 11.5px;margin:0px auto;height:25px;width:auto;width:100px;
}

#logintoplatfrmpbutton:hover {
    background-color:#CCCCCC;color:#FFFFFF;
}

#logintoplatfrmpbutton p{
    margin:0px;padding:0px;
}

#logoutbutton{
    cursor: pointer;width: 100%; height:100%;background-color:none; border-radius: 4px; font-size: 20px;font-weight:bold; text-align: center;align-items: center;align-content: center;border: solid 1px #62AEC9;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}

#logoutbuttoncont{
    clear:both;padding: 11.5px;margin:0px auto;height:25px;width:auto;color:#fff;width:100px;
}

#logoutbuttoncont p{
    margin:0px;padding:0px;
}

/***********************SUBMIT BUTTON STYLING*********************/

#addmemberbutton{
    margin: 5px auto;
}

.addmemberbutton{
    clear:both;padding: 10px;margin:0px auto;height:25px;width:auto;color:#fff;width:100px;background-color: #62AEC9; border-radius: 5px;font-size: 20px;font-weight: bold; text-align: center;
}

#signinmemberbutton{
    margin: 5px auto;display: none;
}

.signinmemberbutton{
    clear:both;padding: 10px;margin:0px auto;height:25px;width:auto;color:#fff;width:100px;background-color: #62AEC9;border-radius: 5px;font-size: 20px;font-weight: bold; text-align: center;
}

.signinmemberbutton p{
    
}
/******************************************************************/

#clicklogin{
    cursor: pointer;width: 100%; height:100%;background-color:none; border-radius: 4px; font-size: 16px;font-weight:bold; text-align: center;align-items: center;align-content: center;border: solid 1px #62AEC9;margin: 0px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}

#loginpopout{
    top:0;left: 0; position: fixed;width: 100%;height: 100%;z-index: 99;background-color: #62AEC9;overflow:hidden;display: inline-block;background-color:rgba(205,205,205,.975);
}

#login_to_memberprofle{
    left:10%;top:10%;right:10%;bottom:10%; background-color:#F2F2F2;border-bottom: 3px solid #414042; display: block;position:fixed; clear: both;padding: 10px 0px;height: auto;margin:auto;min-width: 190px;max-width: 750px;min-height: 350px;max-height: 500px; border-radius: 5px;color: #222222; z-index: 100;
}

#login_to_memberprofle input{
    z-index: 100;
}

#newmember{
    left:10%;top:10%;right:10%;bottom:10%; background-color:#F2F2F2;border-bottom: 3px solid #414042; display: block;position:fixed; clear: both;padding: 10px 0px;height: auto;margin:auto;min-width: 190px;max-width: 750px;min-height: 350px;max-height: 500px; border-radius: 5px;color: #222222; z-index: 100;
}

#newmember input{
    z-index: 100;
}

#inputusrname{margin:10px auto;width:90%;height:30px;}

.menue-item{
    color: aliceblue; display:block; margin: 10px auto; padding: 5px 0px;height: 50px; width: 80%;text-align: center;cursor: pointer;text-decoration:none;
}

#close-modal-sign-up{
    align-content: center;text-align: center;height: 50px;width: 50px; position: fixed;top: 5%;right: 5%;color: #FFFFFF;background-color: #222222;z-index: 102;cursor: pointer;
}

#close-modal-sign-up:hover{
    background-color: red;
}

#close_modal_login{
    align-content: center;text-align: center;height: 50px;width: 50px; position: fixed;top: 5%;right: 5%;color: #FFFFFF;background-color: #222222;z-index: 102;cursor: pointer;
}

#close_modal_login:hover{
    background-color: red;
}

#xdiv{
    width:30px;;height: 30px;margin: 10px;
}

#xdiv h1{
    width:30px;;height: 30px;margin: 0px;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}